version: '2.1'
services:
  absence-management-database:
    image: mysql:latest
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=absence_management
    ports:
      - 3307:3306
    healthcheck:
      - test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      - timeout: 20s
      - retries: 10
  absence-management-service:
    image: sivuha/absence-management:0.0.1-SNAPSHOT
    ports:
      - 8088:8088
    depends_on:
      absence-management-database:
        condition: service_healthy
