version: '3.7'
services:
  absence-management-service:
    image: sivuha/absence-management:0.0.1-SNAPSHOT
    ports:
      - 8088:8088
    depends_on:
      - absence-management-database
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://absence-management-database:3306/absence_management?useUnicode=true&useJDBCCompliantTimezoneShift=true&serverTimezone=UTC&useLegacyDatetimeCode=false
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=root
  absence-management-database:
    image: mysql:latest
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=absence_management
    ports:
      - 3307:3306
